<%- include ("../partials/header.ejs") %>
Meu Perfil</title>
<link rel="stylesheet" href="css2/perfil-page.css">
</head>
<% if(usuario.nivel_usuario == 1){ %>
    <%- include ("../partials/navbar4.ejs") %>
<% }else{ %>
    <%- include ("../partials/navbar3.ejs") %>
<% } %>
<body>

    <div class="tetudo"> 
        <div class="metade1">



            <div class="menu-perfil">

                <div class="nome-perfil">
                    <div class="img-container">
                        <img class="perfil-photo" src="/img/icons8-male-user-preto.png" alt="">
                    </div>
                    <div class="nomes">
                        <h5><%= nome %></h5>
                    </div>
                </div>

                <div class="menu">
                    <ul>
                        <li>Meu Perfil</li>
                        <li><a href="/vehicle_page">Meus Veículos</a></li>
                        <li><a href="/reserv_page">Minhas Reservas</a></li>
                        <li><a href="/accounts_page">Contas</a></li>
                    </ul>
                </div>
            </div>
            <div class="justify-center">
                <a href="/logout">
                    <button class="btn_black">Sair</button>
                </a>
            </div>

        </div>



        <div class="metade2">

            <div class="container border-defaul">
                <div class="meu-perfil">
                    <div class="title-align">
                        <h2>Meu perfil</h2>
                    </div>
                    <div class="metadinhas-align">
                        <div class="metadinha1">
                            <label>Nome:</label>
                            <label>Email:</label>
                            <label>Número de telefone:</label>
                            <label>Sexo:</label>
                            <label>CPF:</label>
                            <label>RG:</label>
                            <label>Data de nascimento:</label>
                        </div>
    








                        <div class="metadinha2">

                            <form action="/cadastra-edita-perfil" method="post">
                                <input type="hidden" name="id" id="id" value="<%= perfil.id_perfil %>">

                                <input class="input_inputes" type="text" name="nome" id="nome" value="<%= perfil.nome %>" required>
    
                                <input class="input_inputes" type="text" name="email" id="email" value="<%= perfil.email %>" required>
                                
                                <input class="input_inputes" type="text" name="telefone" id="telefone" value="<%= perfil.telefone %>" oninput="mascaraTelefone(this)" required>
    
                                <div class="radio-group"> <!-- ARRUMAR PARA SELECIONAR O SEXO DE ACRODO COM O BANCO DE DADOS -->
                                    <% if (perfil.sexo === 'masculino') { %>
                                        <input type="radio" id="masculino" name="sexo" value="masculino" checked>
                                    <% } else { %>
                                        <input type="radio" id="masculino" name="sexo" value="masculino">
                                    <% } %>
                                    <label for="masculino">Masculino</label>
                                    
                                    <% if (perfil.sexo === 'feminino') { %>
                                        <input type="radio" id="feminino" name="sexo" value="feminino" checked>
                                    <% } else { %>
                                        <input type="radio" id="feminino" name="sexo" value="feminino">
                                    <% } %>
                                    <label for="feminino">Feminino</label>
                                    
                                    <% if (perfil.sexo === 'outro') { %>
                                        <input type="radio" id="outro" name="sexo" value="outro" checked>
                                    <% } else { %>
                                        <input type="radio" id="outro" name="sexo" value="outro">
                                    <% } %>
                                    <label for="outro">Outro</label>
                                </div>
    
                                <input class="input_inputes" type="text" name="cpf" id="cpf" value="<%= perfil.cpf %>" oninput="mascaraCPF(this)" required>
    
                                <input class="input_inputes" type="text" name="rg" id="rg" value="<%= perfil.rg %>" oninput="mascaraRG(this)" required>
    
                                <input class="input_inputes" type="date" name="data_nasc" id="data_nasc" value="<%= perfil.data_nasc %>" required>
    
                                <button type="submit" class="btn_yellow btn_sw">Gravar</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>

    <div class="hide-div">
        <%- include ("../partials/navbar-mobile.ejs") %>

        <div class="container">
            <div class="meu-perfil">
                <div class="title-align">
                    <h2 align="center">Meu perfil</h2>
                </div>
                <div class="metadinhas-align">
                    <form action="/cadastra-edita-perfil" method="post">
                        
                        <input type="hidden" name="id" id="id" value="<%= perfil.id_perfil %>">
                        
                        <div class="inputes">
                            <label>Nome:</label>
                            <input class="input_inputes" type="text" name="nome" id="nome" value="<%= perfil.nome %>" required>
                        </div>
    
                        <div class="inputes">
                            <label>Email:</label>
                            <input class="input_inputes" type="text" name="email" id="email" value="<%= perfil.email %>" required>
                        </div>
                        
                        <div class="inputes">
                            <label>Número de telefone:</label>
                            <input class="input_inputes" type="text" name="telefone" id="telefone" value="<%= perfil.telefone %>" oninput="mascaraTelefone(this)" required>
                        </div>
    
                        <div class="inputes">
                            <label>Sexo:</label>
                            <div class="radio-group"> <!-- ARRUMAR PARA SELECIONAR O SEXO DE ACRODO COM O BANCO DE DADOS -->
                                <% if (perfil.sexo === 'masculino') { %>
                                    <input type="radio" id="masculino" name="sexo" value="masculino" checked>
                                <% } else { %>
                                    <input type="radio" id="masculino" name="sexo" value="masculino">
                                <% } %>
                                <label for="masculino">Masculino</label>
                                
                                <% if (perfil.sexo === 'feminino') { %>
                                    <input type="radio" id="feminino" name="sexo" value="feminino" checked>
                                <% } else { %>
                                    <input type="radio" id="feminino" name="sexo" value="feminino">
                                <% } %>
                                <label for="feminino">Feminino</label>
                                
                                <% if (perfil.sexo === 'outro') { %>
                                    <input type="radio" id="outro" name="sexo" value="outro" checked>
                                <% } else { %>
                                    <input type="radio" id="outro" name="sexo" value="outro">
                                <% } %>
                                <label for="outro">Outro</label>
                            </div>
                        </div>
    
                        <div class="inputes">
                            <label>CPF:</label>
                            <input class="input_inputes" type="text" name="cpf" id="cpf" value="<%= perfil.cpf %>" oninput="mascaraCPF(this)" required>
                        </div>
    
                        <div class="inputes">
                            <label>RG:</label>
                            <input class="input_inputes" type="text" name="rg" id="rg" value="<%= perfil.rg %>" oninput="mascaraRG(this)" required>
                        </div>
    
                        <div class="inputes">
                            <label>Data de nascimento:</label>
                            <input class="input_inputes" type="date" name="data_nasc" id="data_nasc" value="<%= perfil.data_nasc %>" required>
                        </div>
    
                        <div class="justify-center">
                            <button type="submit" class="btn_yellow btn_sw">Gravar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

<%- include ("../partials/footer.ejs") %>