<%- include ("../partials/header.ejs") %>
<link rel="stylesheet" href="css2/reserv-page.css">
</head>
<%- include ("../partials/navbar3.ejs") %>
<body>
    <div class="tetudo">

        <div class="metade1">
            <div class="menu-perfil">

                <div class="nome-perfil">
                    <div class="img-container">
                        <img class="perfil-photo" src="/img/icons8-male-user-preto.png" alt="">
                    </div>
                    <div class="nomes">
                        <h5><%= nome %></h5>
                    </div>
                </div>
                
                <div class="menu">
                    <ul>
                        <li><a href="/perfil_page">Meu Perfil</a></li>
                        <li><a href="/vehicle_page">Meu Veículo</a></li>
                        <li>Minhas Reservas</li>
                        <li><a href="/accounts_page">Contas</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="metade2">
            <div class="container border-defaul">
                <div class="meu-perfil">
                    <div class="title-align">
                        <h2>Minhas reservas</h2>
                    </div>

                    <div class="reserv-list">
                        <!-- SIM é TUDO ISSO -->

                        <% reservas.forEach((reserva) => { %>
                            <div class="reserv">
                                <div class="day">
                                    <div class="yellow-bar"></div>
                                    <div class="special-day">
                                        <p><%= new Date(reserva.data_reserva).toLocaleString('pt-BR', { weekday: 'short' }) %></p>
                                        <h3><strong><%= new Date(reserva.data_reserva).getDate() %></strong></h3>
                                        <p><%= new Date(`1970-01-01T${reserva.prev_chegada}`).toLocaleTimeString('pt-BR', { hour: '2-digit', minute: '2-digit' }) %></p>
                                    </div>
                                    <div class="line"></div>
                                </div>
                                <div class="reserv-content">
                                    <h3><strong>Vaga <%= reserva.vaga.numero %></strong></h3>
                                    <p>Veículo - <strong><%= reserva.veiculo.marca %> <%= reserva.veiculo.modelo %> <%= reserva.veiculo.cor %></strong></p>
                                    <p>Placa - <strong><%= reserva.veiculo.placa %><!-- botei as aqui --></strong></p>
                                </div>
                                <div class="cancel-button">
                                    <a href="/cancel-reserv">Cancelar</a>
                                </div>
                            </div>
                        <% }) %>
                    </div>

                </div>
            </div>
        </div>

    </div>
</body>
<%- include ("../partials/footer.ejs") %>