<%- include ("../partials/header.ejs") %>
<link rel="stylesheet" href="css2/vehicles-page.css">
</head>
<%- include ("../partials/navbar3.ejs") %>
<body>
    
    <div class="tetudo">
        <div class="metade1">
            <div class="menu-perfil">
                <%- include ("../partials/box-parts/nomePerfil.ejs") %> <!-- foto de perfil, nome de usuário e nome -->
                <div class="menu">
                    <ul>
                        <li><a href="/perfil_page">Meu Perfil</a></li>
                        <li>Meu Veículo</li>
                        <li><a href="/reserv_page">Minhas Reservas</a></li>
                        <li><a href="/accounts_page">Contas</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="metade2">
            <div class="container border-defaul">
                <div class="meu-perfil">
                    <div class="title-align">
                        <h2>Meus veículos</h2>
                    </div>

                    <div class="vehicles-list">

                        <table class="table table-bordered"> 
                            <thead align="center"> 
                                <tr> 
                                    <th>Tipo</th> 
                                    <th>Marca</th> 
                                    <th>Modelo</th> 
                                    <th>Cor</th>
                                    <th>Placa</th>
                                    <th>Ações</th>
                                </tr> 
                            </thead>
                            <tbody>

                                <% veiculo.forEach((veicu)=>{ %>
                                <tr>
                                    <td><%= veicu.tipo_veiculo %></td>
                                    <td><%= veicu.marca %></td>
                                    <td><%= veicu.modelo %></td>
                                    <td><%= veicu.cor %></td>
                                    <td><%= veicu.placa %></td>
                                    <td>
                                        <a href="edita-vehicle/<%= veicu.id_veiculo %>" class="btn btn-warning">Editar</a> <!-- com certeza vai dar erro -->

                                        <form method="POST" action="deleta-vehicle" style="display: inline" onsubmit="confirmaDeleta(event,this)"> <!-- com certeza vai dar erro -->
                                            <input type="hidden" name="id" value="<%= veicu.id_veiculo %>" /> 
                                            <button class="btn btn-danger">Deletar</button> 
                                        </form>
                                    </td>
                                </tr>
                                <% }) %>

                            </tbody>
                        </table>

                        <a href="/cadastro-veiculos">
                            <button class="btn_yellow">Adicionar</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<%- include ("../partials/footer.ejs") %>
<script>
    function confirmaDeleta(event,formulario){
       event.preventDefault();
       decisao = confirm("Confirma exclusão??")
       if(decisao){
          formulario.submit();
       }
    }
 </script>