<%- include ("../partials/header.ejs") %>
<link rel="stylesheet" href="/css2/park-page.css">
</head>
<% if(usuario.nivel_usuario == 1){ %>
    <%- include ("../partials/navbar4.ejs") %>
<% }else{ %>
    <%- include ("../partials/navbar3.ejs") %>
<% } %>
<body>
    <div class="tetudo justify-center">
        <h1>Mapa do Estacionamento</h1>
        <div class="mapa margin">


            <% vagasStatus.forEach((vaga) => { %>
                <!-- NORMAL VAGA -->
                <% if(vaga.tipo_vaga === 'normal' && vaga.status === 'vazio'){ %>
                    <a href="reserva_vaga?id_vaga=<%= vaga.id_vaga %>&numero=<%= vaga.numero %>&date=<%= date %>&time=<%= time %>">
                        <div class="vaga border-top-none normal-vaga">
                            <h1><%= vaga.numero %></h1>
                        </div>
                    </a>
                <% } %>
                <% if(vaga.tipo_vaga === 'normal' && vaga.status === 'reservado'){ %>
                    <a href="reserva_vaga?id_vaga=<%= vaga.id_vaga %>&numero=<%= vaga.numero %>&date=<%= date %>&time=<%= time %>">
                        <div class="vaga border-top-none reservado">
                            <h1><%= vaga.numero %></h1>
                        </div>
                    </a>
                <% } %>
                
                <!-- AUTISTA VAGA -->
                <% if(vaga.tipo_vaga === 'autista' && vaga.status === 'vazio'){ %>
                    <a href="reserva_vaga?id_vaga=<%= vaga.id_vaga %>&numero=<%= vaga.numero %>&date=<%= date %>&time=<%= time %>">
                        <div class="vaga border-top-none especial-vaga">
                            <h5><%= vaga.numero %></h5>
                            <img src="/img/autista.png" alt="Vaga para autista">
                        </div>
                    </a>
                <% } %>
                <% if(vaga.tipo_vaga === 'autista' && vaga.status === 'reservado'){ %>
                    <a href="reserva_vaga?id_vaga=<%= vaga.id_vaga %>&numero=<%= vaga.numero %>&date=<%= date %>&time=<%= time %>">
                        <div class="vaga border-top-none reservado">
                            <h5><%= vaga.numero %></h5>
                            <img src="/img/autista.png" alt="Vaga para autista">
                        </div>
                    </a>
                <% } %>

                <!-- PCD VAGA -->
                <% if(vaga.tipo_vaga === 'pcd' && vaga.status === 'vazio'){ %>
                    <a href="reserva_vaga?id_vaga=<%= vaga.id_vaga %>&numero=<%= vaga.numero %>&date=<%= date %>&time=<%= time %>">
                        <div class="vaga border-top-none especial-vaga">
                            <h5><%= vaga.numero %></h5>
                            <img src="/img/cadeirante.png" alt="Vaga para pdc">
                        </div>
                    </a>
                <% } %>
                <% if(vaga.tipo_vaga === 'pcd' && vaga.status === 'reservado'){ %>
                    <a href="reserva_vaga?id_vaga=<%= vaga.id_vaga %>&numero=<%= vaga.numero %>&date=<%= date %>&time=<%= time %>">
                        <div class="vaga border-top-none reservado">
                            <h5><%= vaga.numero %></h5>
                            <img src="/img/cadeirante.png" alt="Vaga para pdc">
                        </div>
                    </a>
                <% } %>

                <!-- GESTANTE VAGA -->
                <% if(vaga.tipo_vaga === 'gestante' && vaga.status === 'vazio'){ %>
                    <a href="reserva_vaga?id_vaga=<%= vaga.id_vaga %>&numero=<%= vaga.numero %>&date=<%= date %>&time=<%= time %>">
                        <div class="vaga border-top-none especial-vaga">
                            <h5><%= vaga.numero %></h5>
                            <img src="/img/gestante.png" alt="Vaga para gestante">
                        </div>
                    </a>
                <% } %>
                <% if(vaga.tipo_vaga === 'gestante' && vaga.status === 'reservado'){ %>
                    <a href="reserva_vaga?id_vaga=<%= vaga.id_vaga %>&numero=<%= vaga.numero %>&date=<%= date %>&time=<%= time %>">
                        <div class="vaga border-top-none reservado">
                            <h5><%= vaga.numero %></h5>
                            <img src="/img/gestante.png" alt="Vaga para gestante">
                        </div>
                    </a>
                <% } %>

                <!-- IDOSO VAGA -->
                <% if(vaga.tipo_vaga === 'idoso' && vaga.status === 'vazio'){ %>
                    <a href="reserva_vaga?id_vaga=<%= vaga.id_vaga %>&numero=<%= vaga.numero %>&date=<%= date %>&time=<%= time %>">
                        <div class="vaga border-top-none especial-vaga">
                            <h5><%= vaga.numero %></h5>
                            <img src="/img/idoso.png" alt="Vaga para idoso">
                        </div>
                    </a>
                <% } %>
                <% if(vaga.tipo_vaga === 'idoso' && vaga.status === 'reservado'){ %>
                    <a href="reserva_vaga?id_vaga=<%= vaga.id_vaga %>&numero=<%= vaga.numero %>&date=<%= date %>&time=<%= time %>">
                        <div class="vaga border-top-none reservado">
                            <h5><%= vaga.numero %></h5>
                            <img src="/img/idoso.png" alt="Vaga para idoso">
                        </div>
                    </a>
                <% } %>
            <% }) %>
        </div>
    </div>
</body>
<%- include ("../partials/footer.ejs") %>